# Mac OS Finder
.DS_Store

.mypy_cache/
.ropeproject/
__pycache__/
venv/

# Backup files
*.bak

karabiner/**/automatic_backups

# lua-language server configuration
.luarc.json

# lazygit cache
lazygit/**/state.yml

# Created by kitty themes kitten
kitty/**/current-theme.conf

# smart-splits.nvim kitty integration
kitty/**/*.py

# tmux plugins
tmux/**/plugins/

# neovim minimal config for reproducing issues
minimal.lua
