# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

continuation_prompt = ''

# format = """
# ╭─◯ $username$hostname
# ├─◯ $c$java$lua$python$rust
# ├─◯ [Directory:](bold green) $directory
# ╰─◯ $character
# """

format = """
$directory\
$git_branch$git_commit$git_state$git_metrics$git_status\
$c$java$lua$python$rust$env_var
$character
"""

right_format = """
$time
"""


palette = "catppuccin-mocha"
[palettes.catppuccin-mocha]
rosewater = "#F5E0DC"
flamingo = "#F2CDCD"
pink = "#F5C2E7"
mauve = "#CBA6F7"
red = "#F38BA8"
maroon = "#EBA0AC"
peach = "#FAB387"
yellow = "#F9E2AF"
green = "#A6E3A1"
teal = "#94E2D5"
sky = "#89DCEB"
sapphire = "#74C7EC"
blue = "#89B4FA"
darkblue = "#545AA7"
lavender = "#B4BEFE"
text = "#CDD6F4"
subtext1 = "#BAC2DE"
subtext0 = "#A6ADC8"
overlay2 = "#9399b2"
overlay1 = "#7F849C"
surface2 = "#585B70"
surface1 = "#45475A"
surface0 = "#313244"
base = "#1E1E2E"
mantle = "#181825"
crust = "#11111B"


# One line prompt
[line_break]
disabled = true

[cmd_duration]
disabled = true

[hostname]
disabled = false
ssh_only = false
format = '[$ssh_symbol$hostname](bold fg:yellow)'

[username]
disabled = false
show_always = true
format = '[$user](bold fg:yellow)'

[directory]
disabled = false
home_symbol = "~"
truncate_to_repo = false
read_only = " "
format = '[$path$readonly](bold fg:mauve) '

[env_var]
disabled = true
variable = "VIRTUAL_ENV"
symbol = ""
default = ""
format = "[$env_value](bold fg:yellow)"

[git_branch]
disabled = false
symbol = ""
format = '[\[$symbol $branch(:$remote_branch)\]](bold fg:pink) '

[git_commit]
disabled = false
format = '[\[#$hash$tag\]](bold fg:green) '
only_detached = false

[git_state]
disabled = false

[git_metrics]
disabled = false
format = '([+$added](bold fg:green) )([-$deleted](bold fg:red) )'

[git_status]
disabled = false
format = '([\[$all_status$ahead_behind\]](bold fg:red) )'
conflicted = '='
ahead = '⇡'
behind = '⇣'
diverged = '⇕'
up_to_date = ''
untracked = '?'
stashed = '\$'
modified = '!'
staged = '+'
renamed = '»'
deleted = '✘'

[time]
disabled = false
format = '[\[$time\]](bold fg:rosewater)'

[aws]
disabled = false
symbol = "  "

[c]
disabled = false
symbol = " "
format = '[\[$symbol($version(-$name))\]]($style)'

[conda]
disabled = false
symbol = " "

[docker_context]
disabled = false
symbol = " "

[golang]
disabled = false
symbol = " "

[haskell]
disabled = false
symbol = " "

[hg_branch]
disabled = false
symbol = " "

[java]
disabled = false
symbol = " "
format = '[\[$symbol$version\]]($style)'

[julia]
disabled = false
symbol = " "

[lua]
disabled = false
symbol = " "
format = '[\[$symbol$version\]]($style)'

[nodejs]
disabled = false
symbol = " "

[package]
disabled = false
symbol = " "

[python]
disabled = false
symbol = " "
format = '[\[$symbol$version(  $virtualenv)\]]($style)'

[rust]
disabled = false
symbol = " "
format = '[\[$symbol($version)\]]($style)'

[character]
disabled = false
success_symbol = "[➜](bold fg:green)"
error_symbol = "[➜](bold fg:red)" 
vimcmd_symbol = "[](bold fg:yellow)"
vimcmd_visual_symbol = "[](bold fg:yellow)"

