@import "mocha.css";


@define-color dark-text @base;
@define-color light-text @text;
@define-color bar-bg @crust;


* {
    font-family: FontAwesome, JetBrainsMono Nerd Font Mono;
    font-size: 14px;
    /* Normal: 400    Bold: 700 */
    font-weight: 600;
    border-radius: 8px;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: alpha(@light-text, 1.0);
}


/* Bar */
window#waybar {
    background-color: alpha(@bar-bg, 0.7);
    border-radius: 0px;
}


tooltip {
  background: alpha(@bar-bg, 1.0);
  border: 2px solid alpha(@green, 0.5);
}
tooltip label {
  color: @text;
}


.modules-left {
    margin: 8px 0px;
    margin-left: 8px;
}
.modules-center {
    margin: 8px 0px;
}
.modules-right {
    margin: 8px 0px;
    margin-right: 8px;
}

#window,
#network,
#backlight,
#pulseaudio,
#battery,
#disk {
    padding: 0px 12px;
}

#custom-launcher {
    background-image: url("/home/msia/.config/waybar/archlinux.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* font-size: 22px; */
    /* color: alpha(@blue, 1.0); */
}

#workspaces {
    background-color: transparent;
}
#workspaces button {
    padding: 0px 2px;
}
/* #workspaces button label { */
/*     color: alpha(@light-text, 1.0); */
/* } */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover label {
    font-size: 20px;
}
/* #workspaces button.active { */
/*     background-color: alpha(@sapphire, 1.0); */
/*     border: 2px solid alpha(@base, 0.8); */
/* } */
#workspaces button.active label {
    color: alpha(@yellow, 1.0);
    font-size: 20px;
}

/* Hyprland Active Window */
#window {
    background-color: alpha(@surface0, 0.7);
}

#custom-updates {
    background-color: transparent;
    font-size: 16px;
}

#clock {
    /* background-color: alpha(@mauve, 1.0); */
    /* color: alpha(@dark-text, 1.0); */
    /* padding: 0px 24px; */
}

#custom-notifications {
    background-color: transparent;
    font-size: 14px;
}

#network {
    background-color: alpha(@green, 1.0);
    color: alpha(@dark-text, 1.0);
}
#network.disconnected {
    background-color: alpha(@red, 1.0);
}

#backlight {
    background-color: alpha(@peach, 1.0);
    color: alpha(@dark-text, 1.0);
}

#pulseaudio {
    background-color: alpha(@blue, 1.0);
    color: alpha(@dark-text, 1.0);
}

#battery {
    background-color: alpha(@yellow, 1.0);
    color: alpha(@dark-text, 1.0);
}
#battery.critical:not(.charging) {
    background-color: alpha(@red, 1.0);
}

#cpu {
    background-color: transparent;
    /* background-color: alpha(@lavender, 1.0); */
    color: alpha(@light-text, 1.0);
    margin-left: 8px;
    margin-right: 8px;
}

#memory {
    background-color: transparent;
    /* background-color: alpha(@teal, 1.0); */
    color: alpha(@light-text, 1.0);
}

#disk {
    background-color: alpha(@mauve, 1.0);
    color: alpha(@dark-text, 1.0);
}

#temperature {
    background-color: alpha(@red, 1.0);
    color: alpha(@dark-text, 1.0);
}
#temperature.critical {
    background-color: alpha(@red, 1.0);
}
